.text-color {
    background: -webkit-linear-gradient(92.64deg, #C98FFF 3.63%, #974AFF 35.96%, #6D66FF 74.19%, #ABAFFF 98.62%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('images/bg.png');
    background-repeat: repeat;
    background-color: #0d0144;
    background-size:cover;
}

.cart-menu {
    background-image: url('images/cartmenu.png');
    background-repeat: no-repeat;
}

.btn-primary {
    background: linear-gradient(91.12deg, #9925FE 0.96%, #5C31F1 45.63%, #2935EC 99.54%);
    border: none;
}

.btn:hover, .btn div:hover {
    background: #fff;
    transition: 0.5s;
    color: #9925FE !important;
}

.text-primary {
    color: linear-gradient(91.12deg, #9925FE 0.96%, #5C31F1 45.63%, #2935EC 99.54%);
}

.rotate-text {
    transform:rotateZ(-90deg);
}

.image-group {
    transform: scale(0.8);
}

.scroll-vector:hover {
    transform: scale(1.5);
    transition: 0.5s;
}

.nav-items:hover {
    color: white !important;
    transition: 0.5s;
}

.start-15 {
    left: 15%;
}
.start-85 {
    left: 85%;
}
.start-22 {
    left: 22%;
}
.start-25 {
    left: 25%;
}
.start-45 {
    left: 45%;
}
.end-80 {
    right: 80%;
}
.top-75 {
    top: 75%;
}

.z-top {
    z-index: 9999999;
}

.z-bottom {
    z-index: -99999;
}

